:root {
    --primary-color: ;
    --bg-color: ;
    --text-color: ;
    --card-bg: ;
    --transition: ;
}


body {

}

header {

}

nav ul {

}

nav a {

}

nav a:hover {

}

main {

}

.flex-section {

}


.image-box img {

}

.grid-section, .gallery-grid {

}

.card {

}

.gallery-grid img {

}

@media (min-width: 768px) {
    .flex-section {
        flex-direction: row;
        align-items: center;
    }

    .content-box, .image-box {
        flex: 1;
    }

    .grid-section, .gallery-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}


footer {

}

footer a {

}